/* line 1, ../sass/main.scss */
html {
  padding: 0;
}

/* line 4, ../sass/main.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/main.scss */
a,
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: inherit;
}

/* line 17, ../sass/main.scss */
.preloadGreenHeader {
  background: url("../images/heroBgGreen.svg") no-repeat -9999px -9999px;
}

/* line 20, ../sass/main.scss */
.preloadGreenFooter {
  background: url("../images/footerBgGreen.svg") no-repeat -9999px -9999px;
}

/* line 23, ../sass/main.scss */
.mob {
  display: block;
}

/* line 26, ../sass/main.scss */
.desk {
  display: none;
}

/* line 29, ../sass/main.scss */
.container {
  user-select: none;
}
/* line 31, ../sass/main.scss */
.container h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}
/* line 37, ../sass/main.scss */
.container h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
/* line 42, ../sass/main.scss */
.container .sectionDesc {
  margin-top: 10px;
  color: #636363;
  text-align: center;
  font-weight: 400;
}
/* line 48, ../sass/main.scss */
.container .white {
  color: white;
}
/* line 51, ../sass/main.scss */
.container .violet {
  color: #6a36ff;
  transition: all 500ms ease-in-out;
}
/* line 55, ../sass/main.scss */
.container .hero {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  padding: 30px 30px 60px 30px;
  background-image: url("../images/heroBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  transition: all 500ms ease-in-out;
}
/* line 65, ../sass/main.scss */
.container .hero .nav {
  overflow: hidden;
}
/* line 67, ../sass/main.scss */
.container .hero .nav .navLeft {
  width: 49.35%;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
}
/* line 72, ../sass/main.scss */
.container .hero .nav .navLeft .changeTheme {
  width: 32px;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
/* line 80, ../sass/main.scss */
.container .hero .nav .navRight {
  width: 49.35%;
  vertical-align: middle;
  display: inline-block;
  text-align: right;
}
/* line 85, ../sass/main.scss */
.container .hero .nav .navRight .btnSmall {
  color: white;
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 500px;
  background: transparent;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
/* line 95, ../sass/main.scss */
.container .hero .nav .navRight .btnSmall:hover {
  background: white;
  color: #5954ff;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
/* line 104, ../sass/main.scss */
.container .hero .text h1 {
  margin: 40px 0 0 0;
  font-size: 30px;
  font-weight: 600;
}
/* line 110, ../sass/main.scss */
.container .hero .text h4 {
  margin: -5px 0 0 0;
  font-size: 14px;
  font-weight: 400;
}
/* line 116, ../sass/main.scss */
.container .hero .heroImgContainer {
  text-align: center;
  margin: 30px 0 20px 0;
}
/* line 119, ../sass/main.scss */
.container .hero .heroImgContainer .heroImg {
  width: 85%;
}
/* line 123, ../sass/main.scss */
.container .hero .desc {
  font-size: 16px;
  font-weight: 300;
}
/* line 128, ../sass/main.scss */
.container .aboutMe {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding: 60px 30px 20px 30px;
}
/* line 132, ../sass/main.scss */
.container .aboutMe .skillBox {
  color: #7a7a7a;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  border-radius: 8px;
  padding: 10px 40px;
}
/* line 138, ../sass/main.scss */
.container .aboutMe .skillBox .box {
  border-bottom: 1px solid #eeeeee;
  padding: 20px;
}
/* line 141, ../sass/main.scss */
.container .aboutMe .skillBox .box:last-of-type {
  border-bottom: 0;
}
/* line 144, ../sass/main.scss */
.container .aboutMe .skillBox .box i {
  color: #6a36ff;
  font-size: 24px;
  margin-bottom: 5px;
  transition: all 500ms ease-in-out;
}
/* line 150, ../sass/main.scss */
.container .aboutMe .skillBox .box h3 {
  margin-bottom: 10px;
}
/* line 153, ../sass/main.scss */
.container .aboutMe .skillBox .box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 158, ../sass/main.scss */
.container .aboutMe .skillBox .box li {
  padding: 0;
}
/* line 164, ../sass/main.scss */
.container .recentWork {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding: 60px 30px 90px 30px;
}
/* line 168, ../sass/main.scss */
.container .recentWork .workBoxContainer {
  margin-top: 25px;
}
/* line 171, ../sass/main.scss */
.container .recentWork .workBoxContainer .workBoxGrid:last-of-type .workBox {
  margin-bottom: 0;
}
/* line 174, ../sass/main.scss */
.container .recentWork .workBoxContainer .workBoxGrid .workBox {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}
/* line 180, ../sass/main.scss */
.container .recentWork .workBoxContainer .workBoxGrid .workBox:hover .workDesc {
  opacity: 1;
}
/* line 183, ../sass/main.scss */
.container .recentWork .workBoxContainer .workBoxGrid .workBox .workImg {
  display: block;
  width: 100%;
}
/* line 187, ../sass/main.scss */
.container .recentWork .workBoxContainer .workBoxGrid .workBox .workDesc {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(106, 54, 255, 0.85);
  color: white;
  transition: all 300ms ease-in-out;
}
/* line 199, ../sass/main.scss */
.container .recentWork .workBoxContainer .workBoxGrid .workBox .workDesc .middle {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 205, ../sass/main.scss */
.container .recentWork .workBoxContainer .workBoxGrid .workBox .workDesc .middle .name {
  margin-top: -8px;
  font-size: 24px;
  font-weight: 600;
}
/* line 210, ../sass/main.scss */
.container .recentWork .workBoxContainer .workBoxGrid .workBox .workDesc .middle .tech {
  padding: 0 25px;
  margin: 8px 0 16px 0;
  font-size: 14px;
}
/* line 215, ../sass/main.scss */
.container .recentWork .workBoxContainer .workBoxGrid .workBox .workDesc .middle .workButton {
  color: #6a36ff;
  border: 0;
  padding: 8px 30px;
  border-radius: 500px;
  background: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
/* line 232, ../sass/main.scss */
.container .myResumeContainer {
  z-index: 999;
  position: relative;
  margin: 0 30px;
  box-sizing: border-box;
}
/* line 237, ../sass/main.scss */
.container .myResumeContainer .myResume {
  position: absolute;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 8px;
  text-align: center;
  background: #3b2f61;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: all 500ms ease-in-out;
}
/* line 247, ../sass/main.scss */
.container .myResumeContainer .myResume .resumeButton {
  color: white;
  border: 1px solid white;
  padding: 5px 25px;
  border-radius: 500px;
  background: transparent;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
/* line 258, ../sass/main.scss */
.container .myResumeContainer .myResume .resumeButton:hover {
  background: white;
  color: #3b2f61;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
/* line 266, ../sass/main.scss */
.container .footer {
  margin-top: 75px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  padding: 210px 30px 30px 30px;
  background-image: url("../images/footerBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  transition: all 500ms ease-in-out;
}
/* line 277, ../sass/main.scss */
.container .footer .getInTouch {
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 280, ../sass/main.scss */
.container .footer .getInTouch .btnLarge {
  color: white;
  border: 1px solid white;
  padding: 8px 50px;
  border-radius: 500px;
  background: transparent;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
/* line 291, ../sass/main.scss */
.container .footer .getInTouch .btnLarge:hover {
  background: white;
  color: #5954ff;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
/* line 298, ../sass/main.scss */
.container .footer .social {
  margin-top: 30px;
}
/* line 300, ../sass/main.scss */
.container .footer .social i {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  background: transparent;
  line-height: 32px;
  width: 32px;
  height: 32px;
  margin: 0 0.25em;
  transition: all 300ms ease-in-out;
}
/* line 314, ../sass/main.scss */
.container .footer .social i:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* line 319, ../sass/main.scss */
.container .footer .copyright {
  font-weight: 300;
  margin-top: 20px;
}
/* line 322, ../sass/main.scss */
.container .footer .copyright .text {
  display: inline-block;
  vertical-align: middle;
}
/* line 326, ../sass/main.scss */
.container .footer .copyright .copy {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
}
/* line 331, ../sass/main.scss */
.container .footer .copyright .source {
  margin-top: -5px;
}

@media only screen and (min-width: 360px) {
  /* line 342, ../sass/main.scss */
  .container .hero .text h1 {
    font-size: 32px;
  }
  /* line 345, ../sass/main.scss */
  .container .hero .text h4 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 480px) {
  /* line 356, ../sass/main.scss */
  .container .hero .heroImgContainer .heroImg {
    width: 70%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 365, ../sass/main.scss */
  .container .hero {
    padding: 30px 60px 60px 60px;
  }
  /* line 368, ../sass/main.scss */
  .container .aboutMe {
    padding: 60px 60px 20px 60px;
  }
  /* line 370, ../sass/main.scss */
  .container .aboutMe .skillBox {
    padding: 20px 10px;
  }
  /* line 372, ../sass/main.scss */
  .container .aboutMe .skillBox .box {
    display: inline-block;
    width: 32.5%;
    border: 0;
    box-sizing: border-box;
    padding: 10px 20px;
  }
  /* line 378, ../sass/main.scss */
  .container .aboutMe .skillBox .box:first-of-type {
    border-right: 1px solid #eeeeee;
  }
  /* line 381, ../sass/main.scss */
  .container .aboutMe .skillBox .box:last-of-type {
    border-left: 1px solid #eeeeee;
  }
  /* line 384, ../sass/main.scss */
  .container .aboutMe .skillBox .box i {
    font-size: 20px;
  }
  /* line 390, ../sass/main.scss */
  .container .recentWork {
    padding: 60px 60px 90px 60px;
  }
  /* line 393, ../sass/main.scss */
  .container .myResumeContainer {
    margin: 0 60px;
  }
  /* line 396, ../sass/main.scss */
  .container .footer {
    padding: 210px 60px 30px 60px;
  }
}
@media only screen and (min-width: 720px) {
  /* line 402, ../sass/main.scss */
  .desk {
    display: block;
  }

  /* line 405, ../sass/main.scss */
  .mob {
    display: none;
  }

  /* line 409, ../sass/main.scss */
  .container h2 {
    font-size: 26px;
  }
  /* line 412, ../sass/main.scss */
  .container h3 {
    font-size: 22px;
  }
  /* line 415, ../sass/main.scss */
  .container .sectionDesc {
    font-size: 18px;
    margin-bottom: 30px;
  }
  /* line 419, ../sass/main.scss */
  .container .hero {
    padding-bottom: 120px;
  }
  /* line 423, ../sass/main.scss */
  .container .hero .nav .navLeft .changeTheme {
    width: 36px;
  }
  /* line 428, ../sass/main.scss */
  .container .hero .nav .navRight .btnSmall {
    font-size: 18px;
    padding: 5px 30px;
    border: 2px solid white;
  }
  /* line 436, ../sass/main.scss */
  .container .hero .text h1 {
    margin: 70px 0 0 0;
    font-size: 42px;
  }
  /* line 440, ../sass/main.scss */
  .container .hero .text h4 {
    font-size: 20px;
  }
  /* line 444, ../sass/main.scss */
  .container .hero .heroImgContainer {
    margin: 40px 0 30px 0;
  }
  /* line 447, ../sass/main.scss */
  .container .hero .desc {
    font-size: 20px;
  }
  /* line 454, ../sass/main.scss */
  .container .aboutMe .skillBox .box i {
    font-size: 26px;
  }
  /* line 457, ../sass/main.scss */
  .container .aboutMe .skillBox .box li {
    font-size: 16px;
    margin-top: 5px;
  }
  /* line 460, ../sass/main.scss */
  .container .aboutMe .skillBox .box li:first-of-type {
    margin-top: 0;
  }
  /* line 468, ../sass/main.scss */
  .container .recentWork .workBoxContainer {
    font-size: 0;
  }
  /* line 470, ../sass/main.scss */
  .container .recentWork .workBoxContainer .workBoxGrid {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
  }
  /* line 474, ../sass/main.scss */
  .container .recentWork .workBoxContainer .workBoxGrid:nth-of-type(1), .container .recentWork .workBoxContainer .workBoxGrid:nth-of-type(2) {
    padding-bottom: 15px;
  }
  /* line 478, ../sass/main.scss */
  .container .recentWork .workBoxContainer .workBoxGrid:nth-of-type(5), .container .recentWork .workBoxContainer .workBoxGrid:nth-of-type(6) {
    padding-top: 15px;
  }
  /* line 482, ../sass/main.scss */
  .container .recentWork .workBoxContainer .workBoxGrid:nth-of-type(even) .workBox {
    position: relative;
    margin-left: 2%;
  }
  /* line 486, ../sass/main.scss */
  .container .recentWork .workBoxContainer .workBoxGrid .workBox {
    width: 98%;
    margin-bottom: 0;
  }
  /* line 494, ../sass/main.scss */
  .container .myResumeContainer .myResume {
    width: 100%;
  }
  /* line 496, ../sass/main.scss */
  .container .myResumeContainer .myResume .resumeButton {
    border: 2px solid white;
    margin-top: -10px;
    font-size: 18px;
  }
  /* line 503, ../sass/main.scss */
  .container .footer {
    margin-top: 40px;
  }
  /* line 506, ../sass/main.scss */
  .container .footer .getInTouch .btnLarge {
    border: 2px solid white;
    margin-top: -10px;
  }
  /* line 512, ../sass/main.scss */
  .container .footer .social i {
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
  }
  /* line 519, ../sass/main.scss */
  .container .footer .copyright {
    margin-top: 30px;
    font-size: 18px;
  }
  /* line 522, ../sass/main.scss */
  .container .footer .copyright .copy {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1020px) {
  /* line 531, ../sass/main.scss */
  .container h2 {
    font-size: 32px;
  }
  /* line 534, ../sass/main.scss */
  .container h3 {
    font-size: 24px;
  }
  /* line 537, ../sass/main.scss */
  .container .sectionDesc {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 22px;
  }
  /* line 542, ../sass/main.scss */
  .container .hero {
    padding: 40px 100px 160px 100px;
  }
  /* line 544, ../sass/main.scss */
  .container .hero .heroImgContainer {
    margin: 60px 0 40px 0;
  }
  /* line 546, ../sass/main.scss */
  .container .hero .heroImgContainer .heroImg {
    width: 80%;
  }
  /* line 552, ../sass/main.scss */
  .container .hero .nav .navLeft .changeTheme {
    width: 46px;
  }
  /* line 557, ../sass/main.scss */
  .container .hero .nav .navRight .btnSmall {
    font-size: 24px;
  }
  /* line 563, ../sass/main.scss */
  .container .hero .text h1 {
    font-size: 54px;
    letter-spacing: 8.5px;
  }
  /* line 567, ../sass/main.scss */
  .container .hero .text h4 {
    font-size: 26px;
    letter-spacing: 4.5px;
  }
  /* line 572, ../sass/main.scss */
  .container .hero .desc {
    font-size: 26px;
  }
  /* line 576, ../sass/main.scss */
  .container .aboutMe {
    padding: 80px 120px 20px 120px;
  }
  /* line 580, ../sass/main.scss */
  .container .aboutMe .skillBox .box i {
    font-size: 30px;
    margin-bottom: 10px;
  }
  /* line 584, ../sass/main.scss */
  .container .aboutMe .skillBox .box li {
    font-size: 20px;
  }
  /* line 590, ../sass/main.scss */
  .container .recentWork {
    padding: 90px 120px 120px 120px;
  }
  /* line 597, ../sass/main.scss */
  .container .recentWork .workBoxContainer .workBoxGrid .workBox .workDesc .middle .name {
    font-size: 28px;
  }
  /* line 600, ../sass/main.scss */
  .container .recentWork .workBoxContainer .workBoxGrid .workBox .workDesc .middle .tech {
    font-size: 18px;
    margin: 12px 0 20px 0;
  }
  /* line 604, ../sass/main.scss */
  .container .recentWork .workBoxContainer .workBoxGrid .workBox .workDesc .middle .workButton {
    font-size: 18px;
  }
  /* line 613, ../sass/main.scss */
  .container .myResumeContainer {
    margin: 0 120px;
    font-size: 0;
  }
  /* line 616, ../sass/main.scss */
  .container .myResumeContainer .myResume {
    padding: 50px 5px;
  }
  /* line 618, ../sass/main.scss */
  .container .myResumeContainer .myResume h2 {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 30%;
  }
  /* line 624, ../sass/main.scss */
  .container .myResumeContainer .myResume .desk {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 40%;
    margin: 0;
  }
  /* line 631, ../sass/main.scss */
  .container .myResumeContainer .myResume .resumeButtonContainer {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 30%;
    position: relative;
  }
  /* line 637, ../sass/main.scss */
  .container .myResumeContainer .myResume .resumeButtonContainer .resumeButton {
    width: 70%;
    margin-top: 0;
    font-size: 22px;
  }
  /* line 645, ../sass/main.scss */
  .container .footer {
    margin-top: 42px;
    padding: 250px 100px 40px 100px;
  }
  /* line 649, ../sass/main.scss */
  .container .footer .getInTouch .btnLarge {
    font-size: 26px;
  }
  /* line 654, ../sass/main.scss */
  .container .footer .social i {
    font-size: 26px;
    line-height: 52px;
    width: 52px;
    height: 52px;
  }
  /* line 661, ../sass/main.scss */
  .container .footer .copyright {
    margin-top: 40px;
    font-size: 22px;
  }
  /* line 664, ../sass/main.scss */
  .container .footer .copyright .copy {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 673, ../sass/main.scss */
  .container .footer {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 680, ../sass/main.scss */
  .container .hero {
    padding: 40px 120px 180px 120px;
  }
  /* line 683, ../sass/main.scss */
  .container .hero .text h1 {
    font-size: 48px;
  }
  /* line 686, ../sass/main.scss */
  .container .hero .text h4 {
    font-size: 22px;
  }
  /* line 691, ../sass/main.scss */
  .container .hero .heroImgContainer .heroImg {
    width: 60%;
  }
  /* line 695, ../sass/main.scss */
  .container .hero .desc {
    font-size: 22px;
  }
  /* line 699, ../sass/main.scss */
  .container .aboutMe {
    padding: 80px 160px 20px 160px;
  }
  /* line 702, ../sass/main.scss */
  .container .recentWork {
    padding: 90px 160px 120px 160px;
  }
  /* line 705, ../sass/main.scss */
  .container .myResumeContainer {
    margin: 0 160px;
  }
  /* line 709, ../sass/main.scss */
  .container .myResumeContainer .myResume .resumeButtonContainer .resumeButton {
    padding: 8px 0;
    width: 55%;
  }
  /* line 716, ../sass/main.scss */
  .container .footer {
    margin-top: 15px;
    padding: 240px 120px 40px 120px;
  }
  /* line 719, ../sass/main.scss */
  .container .footer .copyright {
    font-size: 20px;
  }
  /* line 721, ../sass/main.scss */
  .container .footer .copyright .copy {
    font-size: 28px;
  }
}
