html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a,
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  color: inherit;
}
.preloadGreenHeader {
  background: url("../images/heroBgGreen.svg") no-repeat -9999px -9999px;
}
.preloadGreenFooter {
  background: url("../images/footerBgGreen.svg") no-repeat -9999px -9999px;
}
.mob {
  display: block;
}
.desk {
  display: none;
}
.container {
  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
  }
  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .sectionDesc {
    margin-top: 10px;
    color: #636363;
    text-align: center;
    font-weight: 400;
  }
  .white {
    color: white;
  }
  .violet {
    color: #6a36ff;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .hero {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    padding: 30px 30px 60px 30px;
    background-image: url("../images/heroBg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    .nav {
      overflow: hidden;
      .navLeft {
        width: 49.35%;
        vertical-align: middle;
        display: inline-block;
        text-align: left;
        .changeTheme {
          width: 32px;
          margin: 0;
          vertical-align: middle;
          display: inline-block;
          cursor: pointer;
        }
      }
      .navRight {
        width: 49.35%;
        vertical-align: middle;
        display: inline-block;
        text-align: right;
        .btnSmall {
          color: white;
          border: 1px solid white;
          padding: 5px 20px;
          border-radius: 500px;
          background: transparent;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 16px;
          cursor: pointer;
          -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
          &:hover {
            background: white;
            color: #5954ff;
            -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .text {
      h1 {
        margin: 40px 0 0 0;
        font-size: 30px;
        font-weight: 600;
      }

      h4 {
        margin: -5px 0 0 0;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .heroImgContainer {
      text-align: center;
      margin: 30px 0 20px 0;
      .heroImg {
        width: 85%;
      }
    }
    .desc {
      font-size: 16px;
      font-weight: 300;
    }
  }
  .aboutMe {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    padding: 60px 30px 20px 30px;
    .skillBox {
      color: #7a7a7a;
      -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
      margin-top: 25px;
      border-radius: 8px;
      padding: 10px 40px;
      .box {
        border-bottom: 1px solid #eeeeee;
        padding: 20px;
        &:last-of-type {
          border-bottom: 0;
        }
        i {
          color: #6a36ff;
          font-size: 24px;
          margin-bottom: 5px;
          -webkit-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
        }
        h3 {
          margin-bottom: 10px;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        li {
          padding: 0;
        }
      }
    }
  }
  .recentWork {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    padding: 60px 30px 90px 30px;
    .workBoxContainer {
      margin-top: 25px;
      .workBoxGrid {
        &:last-of-type .workBox {
          margin-bottom: 0;
        }
        .workBox {
          -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          overflow: hidden;
          margin-bottom: 20px;
          position: relative;
          &:hover .workDesc {
            opacity: 1;
          }
          &:hover .workImg {
            transform: scale(1.1);
          }
          .workImg {
            display: block;
            width: 100%;
            transition: all 300ms ease-in-out;
          }
          .workDesc {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
            width: 100%;
            height: 100%;
            background: rgba(106, 54, 255, 0.85);
            color: white;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
            .middle {
              width: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              .name {
                margin-top: -8px;
                font-size: 24px;
                font-weight: 600;
              }
              .tech {
                padding: 0 25px;
                margin: 8px 0 16px 0;
                font-size: 14px;
              }
              .workButton {
                color: rgba(106, 54, 255, 1);
                border: 0;
                padding: 8px 30px;
                border-radius: 500px;
                background: white;
                font-family: "Source Sans Pro", sans-serif;
                font-size: 16px;
                cursor: pointer;
                -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
              }
            }
          }
        }
      }
    }
  }
  .myResumeContainer {
    z-index: 2;
    position: relative;
    margin: 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .myResume {
      position: absolute;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "Source Sans Pro", sans-serif;
      border-radius: 8px;
      text-align: center;
      background: #3b2f61;
      -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
      padding: 30px;
      -webkit-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      .resumeButton {
        color: white;
        border: 1px solid white;
        padding: 5px 25px;
        border-radius: 500px;
        background: transparent;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
        margin-top: 16px;
        cursor: pointer;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        &:hover {
          background: white;
          color: #3b2f61;
          -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  .footer {
    margin-top: 75px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    padding: 210px 30px 30px 30px;
    background-image: url("../images/footerBg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    .getInTouch {
      padding-bottom: 60px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      .btnLarge {
        color: white;
        border: 1px solid white;
        padding: 8px 50px;
        border-radius: 500px;
        background: transparent;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        margin-top: 20px;
        cursor: pointer;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        &:hover {
          background: white;
          color: #5954ff;
          -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
        }
      }
    }
    .social {
      margin-top: 30px;
      .iconLinks {
        text-decoration: none;
      }
      i {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: white;
        background: transparent;
        line-height: 32px;
        width: 32px;
        height: 32px;
        margin: 0 0.25em;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
    .copyright {
      font-weight: 300;
      margin-top: 20px;
      .text {
        display: inline-block;
        vertical-align: middle;
      }
      .copy {
        font-size: 28px;
        display: inline-block;
        vertical-align: middle;
      }
      .source {
        margin-top: -5px;
        display: none;
      }
    }
  }
}

//----------------------------------------------------

.getInTouchForm {
  background: white;
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  overflow: auto;
  transition: all 300ms ease-in-out;
  box-sizing: border-box;
  .formContainer {
    background: white;
    margin: 0;
    padding: 15px 30px 25px 30px;
    width: 100%;
    min-height: 100%;
    height: auto;
    box-sizing: border-box;
    .formContent {
      margin-top: 0px;
      font-family: "Source Sans Pro", sans-serif;
      .formHeading {
        font-size: 24px;
        font-weight: 700;
        color: #6a36ff;
        text-align: center;
      }
      .formDesc {
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 16px;
        color: #636363;
        text-align: center;
        font-weight: 400;
      }
      .fontZero {
        .formElem {
          &:first-of-type .labels {
            margin-top: 0;
          }
          .labels {
            display: block;
            font-size: 16px;
            font-weight: 600;
            color: #6a36ff;
            margin-top: 10px;
            margin-bottom: 1px;
          }

          .inputs {
            display: block;
            font-size: 16px;
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 400;
            color: #636363;
            border: 1px solid #c5c5c5;
            border-radius: 3px;
            width: 100%;
            padding: 6px;
            box-sizing: border-box;
          }

          .txtarea {
            resize: none;
            display: block;
            font-size: 16px;
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 400;
            color: #636363;
            border: 1px solid #c5c5c5;
            border-radius: 3px;
            width: 100%;
            padding: 6px;
            box-sizing: border-box;
          }
        }
      }

      .formBtnContainer {
        text-align: center;
        margin-top: 20px;
        .formBtn {
          padding: 8px 36px;
          border: 0;
          border-radius: 500px;
          background: transparent;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          background: #6a36ff;
          color: white;
          -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
        }
      }
    }
    .close {
      color: #6a36ff;
      text-align: right;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

//----------------------------------------------------

@media only screen and (min-width: 360px) {
  .container {
    .hero {
      .text {
        h1 {
          font-size: 32px;
        }
        h4 {
          font-size: 16px;
        }
      }
    }
  }
}
@media only screen and (min-width: 480px) {
  .container {
    .hero {
      .heroImgContainer {
        .heroImg {
          width: 70%;
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  .container {
    .hero {
      padding: 30px 60px 60px 60px;
    }
    .aboutMe {
      padding: 60px 60px 20px 60px;
      .skillBox {
        padding: 20px 10px;
        .box {
          display: inline-block;
          width: 32.5%;
          border: 0;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 10px 20px;
          &:first-of-type {
            border-right: 1px solid #eeeeee;
          }
          &:last-of-type {
            border-left: 1px solid #eeeeee;
          }
          i {
            font-size: 20px;
          }
        }
      }
    }
    .recentWork {
      padding: 60px 60px 90px 60px;
    }
    .myResumeContainer {
      margin: 0 60px;
    }
    .footer {
      padding: 210px 60px 30px 60px;
    }
  }
  .getInTouchForm {
    .formContainer {
      padding: 25px 80px;
    }
  }
}
@media only screen and (min-width: 720px) {
  .desk {
    display: block;
  }
  .mob {
    display: none;
  }
  .container {
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 22px;
    }
    .sectionDesc {
      font-size: 18px;
      margin-bottom: 30px;
    }
    .hero {
      padding-bottom: 120px;
      .nav {
        .navLeft {
          .changeTheme {
            width: 36px;
          }
        }
        .navRight {
          .btnSmall {
            font-size: 18px;
            padding: 5px 30px;
            border: 2px solid white;
          }
        }
      }
      .text {
        h1 {
          margin: 70px 0 0 0;
          font-size: 42px;
        }
        h4 {
          font-size: 20px;
        }
      }
      .heroImgContainer {
        margin: 40px 0 30px 0;
      }
      .desc {
        font-size: 20px;
      }
    }
    .aboutMe {
      .skillBox {
        .box {
          i {
            font-size: 26px;
          }
          li {
            font-size: 16px;
            margin-top: 5px;
            &:first-of-type {
              margin-top: 0;
            }
          }
        }
      }
    }
    .recentWork {
      .workBoxContainer {
        font-size: 0;
        .workBoxGrid {
          width: 50%;
          display: inline-block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          &:nth-of-type(1),
          &:nth-of-type(2) {
            padding-bottom: 15px;
          }
          &:nth-of-type(5),
          &:nth-of-type(6) {
            padding-top: 15px;
          }
          &:nth-of-type(even) .workBox {
            position: relative;
            margin-left: 2%;
          }
          .workBox {
            width: 98%;
            margin-bottom: 0;
          }
        }
      }
    }
    .myResumeContainer {
      .myResume {
        width: 100%;
        .resumeButton {
          border: 2px solid white;
          margin-top: -10px;
          font-size: 18px;
        }
      }
    }
    .footer {
      margin-top: 40px;
      .getInTouch {
        .btnLarge {
          border: 2px solid white;
          margin-top: -10px;
        }
      }
      .social {
        i {
          font-size: 20px;
          line-height: 40px;
          width: 40px;
          height: 40px;
        }
      }
      .copyright {
        margin-top: 30px;
        font-size: 18px;
        .copy {
          font-size: 30px;
        }
      }
    }
  }
  .getInTouchForm {
    .formContainer {
      padding: 25px;
      .formContent {
        padding: 0 90px;
        margin-top: 30px;
        .formHeading {
          font-size: 26px;
        }
        .formDesc {
          font-size: 18px;
          margin-bottom: 30px;
        }
        .fontZero {
          .formElem {
            .labels {
              font-size: 18px;
            }
            .inputs {
              font-size: 16px;
              font-weight: 300;
            }
            .txtarea {
              font-size: 16px;
              font-weight: 300;
            }
          }
        }
        .formBtnContainer {
          margin-top: 30px;
          .formBtn {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1020px) {
  .container {
    h2 {
      font-size: 32px//--------------------;
    }
    h3 {
      font-size: 24px; //--------------------
    }
    .sectionDesc {
      margin-top: 15px;
      margin-bottom: 40px;
      font-size: 22px; //--------------------
    }
    .hero {
      padding: 40px 100px 160px 100px;
      .heroImgContainer {
        margin: 60px 0 40px 0;
        .heroImg {
          width: 80%;
        }
      }
      .nav {
        .navLeft {
          .changeTheme {
            width: 46px;
          }
        }
        .navRight {
          .btnSmall {
            font-size: 24px;
          }
        }
      }
      .text {
        h1 {
          font-size: 54px; //--------------------
          letter-spacing: 8.5px;
        }
        h4 {
          font-size: 26px; //--------------------
          letter-spacing: 4.5px;
        }
      }
      .desc {
        font-size: 26px;
      }
    }
    .aboutMe {
      padding: 80px 120px 20px 120px;
      .skillBox {
        .box {
          i {
            font-size: 30px;
            margin-bottom: 10px;
          }
          li {
            font-size: 20px;
          }
        }
      }
    }
    .recentWork {
      padding: 90px 120px 120px 120px;
      .workBoxContainer {
        .workBoxGrid {
          .workBox {
            .workDesc {
              .middle {
                .name {
                  font-size: 28px;
                }
                .tech {
                  font-size: 18px;
                  margin: 12px 0 20px 0;
                }
                .workButton {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
    .myResumeContainer {
      margin: 0 120px;
      font-size: 0;
      .myResume {
        padding: 50px 5px;
        h2 {
          display: inline-block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          vertical-align: middle;
          width: 30%;
        }
        .desk {
          display: inline-block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          vertical-align: middle;
          width: 40%;
          margin: 0;
        }
        .resumeButtonContainer {
          display: inline-block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          vertical-align: middle;
          width: 30%;
          position: relative;
          .resumeButton {
            width: 70%;
            margin-top: 0;
            font-size: 22px;
          }
        }
      }
    }
    .footer {
      margin-top: 42px;
      padding: 250px 100px 40px 100px;
      .getInTouch {
        .btnLarge {
          font-size: 26px;
        }
      }
      .social {
        i {
          font-size: 26px;
          line-height: 52px;
          width: 52px;
          height: 52px;
        }
      }
      .copyright {
        margin-top: 40px;
        font-size: 22px;
        .copy {
          font-size: 32px;
        }
      }
    }
  }
  .getInTouchForm {
    .formContainer {
      padding: 25px;
      .formContent {
        padding: 0 180px;
        margin-top: 25px;
        .formHeading {
          font-size: 32px;
        }
        .formDesc {
          font-size: 22px;
          margin-bottom: 20px;
          font-weight: 300;
        }
        .fontZero {
          font-size: 0;
          .formElem {
            display: inline-block;
            width: 50%;
            box-sizing: border-box;
            &:nth-of-type(5) {
              width: 100%;
            }

            &:nth-of-type(2) .labels,
            &:nth-of-type(4) .labels,
            &:nth-of-type(2) .inputs,
            &:nth-of-type(4) .inputs {
              position: relative;
              margin-left: 2%;
            }
            .labels {
              font-size: 20px;
              width: 98%;
              margin-bottom: 3px;
            }
            .inputs {
              font-size: 22px;
              font-weight: 300;
              border-radius: 5px;
              width: 98%;
            }
            .txtarea {
              font-size: 22px;
              font-weight: 300;
              border-radius: 5px;
            }
          }
        }
        .formBtnContainer {
          margin-top: 25px;
          .formBtn {
            font-size: 22px;
          }
        }
      }
      .close {
        font-size: 24px;
      }
    }
  }
}
@media only screen and (min-width: 1170px) {
  .container {
    .footer {
      margin-top: 20px;
    }
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    .hero {
      padding: 40px 120px 180px 120px;
      .text {
        h1 {
          font-size: 48px;
        }
        h4 {
          font-size: 22px;
        }
      }
      .heroImgContainer {
        .heroImg {
          width: 60%;
        }
      }
      .desc {
        font-size: 22px;
      }
    }
    .aboutMe {
      padding: 80px 160px 20px 160px;
    }
    .recentWork {
      padding: 90px 160px 120px 160px;
      .workBoxContainer {
        font-size: 0;
        .workBoxGrid {
          width: 33.33%;
          display: inline-block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            padding-bottom: 12px;
          }
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(6) {
            padding-top: 12px;
          }
          &:nth-of-type(1) .workBox,
          &:nth-of-type(4) .workBox {
            position: relative;
            margin-left: 0;
          }
          &:nth-of-type(2) .workBox,
          &:nth-of-type(5) .workBox {
            position: relative;
            margin-left: 2%;
          }
          &:nth-of-type(3) .workBox,
          &:nth-of-type(6) .workBox {
            position: relative;
            margin-left: 4%;
          }
          .workBox {
            width: 96%;
            margin-bottom: 0;
            .workDesc {
              .middle {
                .name {
                  font-size: 24px;
                }
                .tech {
                  font-size: 16px;
                  margin: 12px 0 20px 0;
                }
                .workButton {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
    .myResumeContainer {
      margin: 0 160px;
      .myResume {
        .resumeButtonContainer {
          .resumeButton {
            padding: 8px 0;
            width: 55%;
          }
        }
      }
    }
    .footer {
      margin-top: 15px;
      padding: 240px 120px 40px 120px;
      .copyright {
        font-size: 20px;
        .copy {
          font-size: 28px;
        }
      }
    }
  }
  .getInTouchForm {
    .formContainer {
      padding: 25px;
      .formContent {
        padding: 0 240px;
        margin-top: 10px;
        .formHeading {
          font-size: 32px;
        }
        .formDesc {
          font-size: 22px;
          margin-bottom: 30px;
        }
        .labels {
          font-size: 20px;
        }
        .inputs {
          font-size: 22px;
          font-weight: 300;
          border-radius: 5px;
        }
        .txtarea {
          font-size: 22px;
          font-weight: 300;
          border-radius: 5px;
        }
        .formBtnContainer {
          margin-top: 25px;
          .formBtn {
            font-size: 22px;
          }
        }
      }
      .close {
        font-size: 24px;
      }
    }
  }
}
